{deps, [
{ecpool,".*",{git,"https://github.com/emqtt/ecpool","master"}},{gen_conf,".*",{git,"https://github.com/emqtt/gen_conf","master"}},{riakc,".*",{git,"https://github.com/basho/riak-erlang-client","master"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx","master"}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
